body {
  background-color: var(--primary-background-color);
  color: var(--primary-font-color);
  font-family: var(--font-monospace);
  font-size: var(--font-size-body);
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#dedenne {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--spacing-l);
  max-width: 45rem;
  width: 100%;
}

/* WIDGETS */
header {
  animation: fade 1s ease-in;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--spacing-m);
  width: 100%;
}

#date-time,
#weather {
  flex: 1 1 auto;
}

#weather {
  text-align: right;
}

#weather img {
  display: inline-flex;
  margin-right: var(--spacing-xs);
  width: 1.5rem;
}

#date,
#location {
  color: var(--primary-link-hover-color);
  font-weight: 700;
}

#time,
#details {
  color: var(--primary-link-color);
  text-transform: capitalize;
}

#details {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.separator {
  margin: 0 var(--spacing-xs);
}

/* LOGO */
aside {
  display: flex;
  justify-content: space-around;
  padding: var(--spacing-m) 0 var(--spacing-l) 0;
}

aside img,
aside svg {
  height: 8rem;
}

/* DOCK */
#dock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  padding-bottom: var(--spacing-m);
}

#dock span {
  color: var(--primary-link-color);
  font-size: var(--font-size-small);
}

#dock ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  gap: var(--spacing-l);
  padding: 0;
}

#dock li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dock li button {
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
}

#dock li button img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

#dock li button.selected img,
#dock li button:hover img {
  filter: none;
}

#dock li button.selected img {
  animation: slime 0.5s ease;
}

/* SEARCH BAR */
#search {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: var(--spacing-m);
}

#search form {
  flex: 1 1 auto;
  width: 100%;
}

#search input {
  background-color: transparent;
  background-position: right 1.25rem center;
  background-repeat: no-repeat;
  background-size: 1.5rem 1.5rem;
  border-radius: 0.5rem;
  color: var(--primary-font-color);
  line-height: 1.5;
  outline: 0.25rem solid transparent;
  padding: var(--spacing-m);
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  #search input {
    background-image: var(--svg-search-gray);
    border: 0.125rem solid hsl(var(--color-white-hsl) / 0.25);
  }

  #search input:hover {
    border-color: hsl(var(--color-white-hsl) / 0.5);
  }

  #bookmarks a:focus,
  #bookmarks a:hover {
    background-color: hsl(var(--color-white-hsl) / 0.05);
  }

  #settings-button {
    background-image: var(--svg-settings-gray);
  }

  #settings-button:hover {
    background-color: hsl(var(--color-white-hsl) / 0.05);
  }
}

@media (prefers-color-scheme: light) {
  #weather img {
    filter: drop-shadow(0 0 0 hsl(var(--color-black-hsl) / 0.75));
  }

  #search input {
    background-image: var(--svg-search-light-gray);
    border: 0.125rem solid hsl(var(--color-black-hsl) / 0.25);
  }

  #search input:hover {
    border-color: hsl(var(--color-black-hsl) / 0.5);
  }

  #bookmarks a:focus,
  #bookmarks a:hover {
    background-color: hsl(var(--color-black-hsl) / 0.05);
  }

  #settings-button {
    background-image: var(--svg-settings-light-gray);
  }

  #settings-button:hover {
    background-color: hsl(var(--color-black-hsl) / 0.05);
  }
}

#search input:focus {
  background-color: hsl(var(--color-white-hsl) / 0.025);
  border-color: var(--color-orange);
  outline-color: hsl(var(--color-orange-hsl) / 0.25);
}

/* BOOKMARKS */
#bookmarks {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing-l);
  padding: 0 var(--spacing-m);
}

.bookmark-group {
  /* flex: 1 1 10rem; */
  /* max-width: 11rem; */
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  align-items: center;
}

.bookmark-group button {
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
  color: var(--primary-link-hover-color);
}

.bookmark-group button::after {
  content: "▼";
  display: inline-block;
  margin-left: var(--spacing-s);
  transition: transform 0.3s ease;
}

.bookmark-group button[aria-expanded="false"]::after {
  transform: rotate(180deg);
}

.bookmark-group button[aria-expanded="false"] + ul {
  max-height: 0;
  opacity: 0;
}

.bookmark-group ul {
  transition: max-height 0.3s ease, opacity 0.3s ease;
  max-height: 1000px;
  overflow: hidden;
  opacity: 1;
  display: flex;
  row-gap: var(--spacing-xs);
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#bookmarks li {
  align-items: center;
  display: flex;
  flex-direction: row;
  line-height: 1;
}

.favicon {
  margin-right: var(--spacing-s);
  height: 1rem;
}

#bookmarks a {
  align-items: center;
  border-radius: 0.25rem;
  display: flex;
  color: var(--primary-link-color);
  padding: var(--spacing-s);
  text-decoration: none;
}

#bookmarks a:focus,
#bookmarks a:hover {
  color: var(--primary-link-hover-color);
  outline: none;
}

/*
    Accessible hiding for screen readers
    https://webaim.org/techniques/css/invisiblecontent/#techniques
*/
.sr-only {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

@media screen and (max-width: 420px) {
  header {
    display: none;
  }

  #dock span {
    display: none;
  }

  #dock ul {
    margin: 0 auto;
  }
}
